:root {
    --independtech-blue: hsl(181 100% 34%);
    --independtech-light: hsl(181 50% 70%);

    --spacing-unit-1: .25rem;
    --spacing-unit-2: calc(2 * var(--spacing-unit-1));
    --spacing-unit-3: calc(3 * var(--spacing-unit-1));
    --spacing-unit-4: calc(4 * var(--spacing-unit-1));
}

* {
    margin: 0;
}

* {
    word-break: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 2;
}

h1 {
    background-color: var(--independtech-blue);
    border-radius: 20px;
    padding: 0 0.5rem;
    text-align: center;
}

.pill {
    width: 100px;
    height: 30px;
    padding: 0 0.5rem;
    border: none;
    border-radius: 20px;
}

label {
    min-width: 100px;
    width: 250px;
}

.p-1 {
    padding: var(--spacing-unit-1);
}

.p-2 {
    padding: var(--spacing-unit-2);
}

.p-3 {
    padding: var(--spacing-unit-3);
}

.p-4 {
    padding: var(--spacing-unit-4);
}

.ps-1 {
    padding-inline-start: var(--spacing-unit-1);
}

.ps-2 {
    padding-inline-start: var(--spacing-unit-2);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.gap-1 {
    gap: var(--spacing-unit-1);
}

.items-center {
    align-items: center;
}

.card {
    background-color: var(--independtech-light);
    border-radius: 25px;
    padding: var(--spacing-unit-4);
}

.container {
    max-width: 640px;
}

.input-item {
    display: flex;
    align-items: center;
    justify-content: start;
}